MONGO_DATABASE=skillboost
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=admin
SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/skillboost
VITE_API_BASE_URL=/api
GEMINI_API_KEY=AIzaSyAeAmfYPoEbPIYHOStLa90qnlrvzF1Mx2Q